.button {
  padding: 0;
  cursor: pointer;
  width: 41px;
  height: 41px;
  opacity: .7;
  background-color: #3877EE;
  border-radius: 40px;
  border-style: none;
  background-image: url("../../images/button-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
}
